Repository zyzmoz/global-player, pull requests merged in 2022-11, with the labels that each got.

#94 feature: Create starter files to integrate Riot API
  backend/.env.example
  backend/package-lock.json
  backend/package.json
  backend/src/app.ts
  backend/src/integrations/RiotAPI.ts
  backend/src/routes.ts
  backend/src/routes/index.ts
  backend/src/routes/license.ts
  backend/src/routes/plan.ts
  backend/src/routes/player.ts
  backend/src/routes/playerMatch.ts
  backend/src/routes/review.ts
  backend/src/routes/user.ts
  backend/src/shared/dbFunctions.ts
Labels: enhancement, hacktoberfest-accepted, backend

#99 feature: Riot API - Create getPlayer function
  README.md
  backend/src/integrations/RiotAPI.ts
  backend/src/routes/index.ts
Labels: enhancement, hacktoberfest-accepted, backend, high-priority

#100 feature: Riot API - Create getPuuid function
  backend/package-lock.json
  backend/src/integrations/RiotAPI.ts
  backend/src/routes/index.ts
  backend/src/shared/dbFunctions.ts
Labels: enhancement, hacktoberfest-accepted, backend, high-priority

#101 feature: Riot API - Create getMatchDetails function
  backend/src/integrations/RiotAPI.ts
  backend/src/routes/index.ts
Labels: enhancement, hacktoberfest-accepted, backend, high-priority

#102 feature: Riot API - Create getMatchDetails function
  backend/src/integrations/RiotAPI.ts
  backend/src/routes/index.ts
  backend/src/routes/playerMatch.ts
Labels: enhancement, hacktoberfest-accepted, backend, high-priority

#103 feature: Create Riot API integration
  backend/src/integrations/RiotAPI.ts
  backend/src/models/PlayerMatches.ts
  backend/src/routes/index.ts
  frontend/src/storybook/storybook.jsx
Labels: enhancement, hacktoberfest-accepted, backend, high-priority

#92 Radar Chart Component
  frontend/package-lock.json
  frontend/src/components/RadarChart/RadarChart.jsx
  frontend/src/sass/site-layout/_index.scss
  frontend/src/storybook/storybook.jsx
Labels: enhancement, hacktoberfest-accepted, frontend, css

#106 feature: Create Data Integration Functions
  backend/src/routes/analytics.ts
  backend/src/routes/index.ts
  backend/src/shared/dbFunctions.ts
  backend/src/shared/utils.ts
Labels: enhancement, hacktoberfest-accepted, backend

#109 feature: Create Top Players Page (Dashboard)
  frontend/src/components/DoughnutChart/DoughnutChart.jsx
  frontend/src/components/Header/RecruitersPagesNavMenu.jsx
  frontend/src/components/ProgressBar/ProgressBar.jsx
  frontend/src/components/Sidebar/Sidebar.jsx
  frontend/src/index.jsx
  frontend/src/pages/Login.jsx
  frontend/src/pages/TopPlayersPage.jsx
  frontend/src/sass/base-elements/_button.scss
  frontend/src/sass/base-elements/_progressbar.scss
  frontend/src/sass/navigation/_navigation.scss
  frontend/src/sass/navigation/_sidebar.scss
  frontend/src/sass/site-layout/_top-players-page.scss
  frontend/src/sass/style.scss
  frontend/src/sass/tables/_tables.scss
  frontend/src/sass/variables/_colors.scss
  frontend/src/storybook/storybook.jsx
Labels: enhancement, hacktoberfest-accepted, frontend, css

#112 feature: Integrate backend to fetch Dashboard Top Players data
  backend/package-lock.json
  backend/package.json
  backend/src/app.ts
  backend/src/shared/utils.ts
  frontend/.env.example
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Avatar/Avatar.jsx
  frontend/src/components/DoughnutChart/DoughnutChart.jsx
  frontend/src/components/RoleIcons/RoleIcons.jsx
  frontend/src/index.jsx
  frontend/src/pages/TopPlayersPage.jsx
  frontend/src/sass/site-layout/_top-players-page.scss
Labels: enhancement, hacktoberfest-accepted, frontend, backend, css

#115 feature: Create Player Details Page (Dashboard)
  frontend/src/assets/icons/Like.svg
  frontend/src/assets/images/Challenger_Emblem_2022.png
  frontend/src/components/Avatar/Avatar.jsx
  frontend/src/components/Icon/icons.jsx
  frontend/src/components/Tag/Tag.jsx
  frontend/src/index.jsx
  frontend/src/pages/PlayerDetailsPage.jsx
  frontend/src/sass/base-elements/_button.scss
  frontend/src/sass/base-elements/_doughnut-chart.scss
  frontend/src/sass/base-elements/_index.scss
  frontend/src/sass/site-layout/_index.scss
  frontend/src/sass/site-layout/_player-details-page.scss
  frontend/src/sass/site-layout/_top-players-page.scss
Labels: enhancement, frontend, css, high-priority

#116 feature: Create Account Pages
  .DS_Store
  frontend/public/images/PlayerIcon.png
  frontend/public/images/RecruiterIcon.png
  frontend/public/images/backgroundCreateAccount.png
  frontend/src/index.jsx
  frontend/src/pages/CreateAccount.jsx
  frontend/src/pages/CreateAccountPlayer.jsx
  frontend/src/pages/CreateAccountRecruiter.jsx
  frontend/src/sass/site-layout/_create-account-player.scss
  frontend/src/sass/site-layout/_create-account-recruiter.scss
  frontend/src/sass/site-layout/_create-account.scss
  frontend/src/sass/site-layout/_index.scss
  frontend/src/sass/site-layout/_player-details-page.scss
Labels: enhancement, hacktoberfest-accepted, frontend, css

#110 release
  .DS_Store
  README.md
  backend/.env.example
  backend/package-lock.json
  backend/package.json
  backend/src/app.ts
  backend/src/integrations/RiotAPI.ts
  backend/src/models/PlayerMatches.ts
  backend/src/routes.ts
  backend/src/routes/analytics.ts
  backend/src/routes/index.ts
  backend/src/routes/license.ts
  backend/src/routes/plan.ts
  backend/src/routes/player.ts
  backend/src/routes/playerMatch.ts
  backend/src/routes/review.ts
  backend/src/routes/user.ts
  backend/src/shared/dbFunctions.ts
  backend/src/shared/utils.ts
  frontend/.env.example
  frontend/package-lock.json
  frontend/package.json
  frontend/public/images/PlayerIcon.png
  frontend/public/images/RecruiterIcon.png
  frontend/public/images/backgroundCreateAccount.png
  frontend/src/assets/icons/Like.svg
  frontend/src/assets/images/Challenger_Emblem_2022.png
  frontend/src/components/Avatar/Avatar.jsx
  frontend/src/components/DoughnutChart/DoughnutChart.jsx
  frontend/src/components/Header/RecruitersPagesNavMenu.jsx
  frontend/src/components/Icon/icons.jsx
  frontend/src/components/ProgressBar/ProgressBar.jsx
  frontend/src/components/RadarChart/RadarChart.jsx
  frontend/src/components/RoleIcons/RoleIcons.jsx
  frontend/src/components/Sidebar/Sidebar.jsx
  frontend/src/components/Tag/Tag.jsx
  frontend/src/components/Toast/Toast.jsx
  frontend/src/index.jsx
  frontend/src/pages/CreateAccount.jsx
  frontend/src/pages/CreateAccountPlayer.jsx
  frontend/src/pages/CreateAccountRecruiter.jsx
  frontend/src/pages/Login.jsx
  frontend/src/pages/PlayerDetailsPage.jsx
  frontend/src/pages/TopPlayersPage.jsx
  frontend/src/sass/base-elements/_button.scss
  frontend/src/sass/base-elements/_doughnut-chart.scss
  frontend/src/sass/base-elements/_index.scss
  frontend/src/sass/base-elements/_progressbar.scss
  frontend/src/sass/navigation/_navigation.scss
  frontend/src/sass/navigation/_sidebar.scss
  frontend/src/sass/site-layout/_create-account-player.scss
  frontend/src/sass/site-layout/_create-account-recruiter.scss
  frontend/src/sass/site-layout/_create-account.scss
  frontend/src/sass/site-layout/_index.scss
  frontend/src/sass/site-layout/_player-details-page.scss
  frontend/src/sass/site-layout/_top-players-page.scss
  frontend/src/sass/style.scss
  frontend/src/sass/tables/_tables.scss
  frontend/src/sass/variables/_colors.scss
  frontend/src/storybook/storybook.jsx
Labels: release

#119 feature: Create an endpoint to get analytical data about one player
  backend/src/routes/analytics.ts
  backend/src/shared/utils.ts
Labels: enhancement, hacktoberfest-accepted, backend, high-priority

#124 feature: Integrate player details to backend
  backend/package-lock.json
  frontend/package-lock.json
  frontend/src/pages/PlayerDetailsPage.jsx
  frontend/src/sass/site-layout/_player-details-page.scss
Labels: enhancement, frontend, backend, css

#125 feature: Create state management to handle players' comparison
  frontend/src/components/Table/TableItem.jsx
  frontend/src/context/PlayerContext.jsx
  frontend/src/index.jsx
  frontend/src/pages/Login.jsx
  frontend/src/pages/PlayerDetailsPage.jsx
  frontend/src/pages/TopPlayersPage.jsx
Labels: enhancement, hacktoberfest-accepted, frontend, high-priority

#126 feature: Create Comparison Page
  frontend/src/index.jsx
  frontend/src/pages/ComparisonPage.jsx
  frontend/src/sass/site-layout/_comparison-page.scss
  frontend/src/sass/style.scss
Labels: enhancement, hacktoberfest-accepted, frontend, css

#127 feature: Create Player Review Page
  backend/src/models/Review.ts
  backend/src/routes/analytics.ts
  backend/src/routes/license.ts
  backend/src/routes/plan.ts
  backend/src/routes/player.ts
  backend/src/routes/playerMatch.ts
  backend/src/routes/review.ts
  backend/src/routes/user.ts
  backend/src/shared/utils.ts
  frontend/src/components/Button/Button.jsx
  frontend/src/components/Slider/Slider.jsx
  frontend/src/context/PlayerContext.jsx
  frontend/src/index.jsx
  frontend/src/pages/PlayerDetailsPage.jsx
  frontend/src/pages/PlayerReviewOverview.jsx
  frontend/src/pages/ReviewPlayer.jsx
  frontend/src/sass/base-elements/_button.scss
  frontend/src/sass/base-elements/_index.scss
  frontend/src/sass/base-elements/_slider.scss
  frontend/src/sass/site-layout/_index.scss
  frontend/src/sass/site-layout/_player-review.scss
  frontend/src/sass/style.scss
Labels: enhancement, hacktoberfest-accepted, frontend, backend, css, high-priority

#129 feature: Comparison Results Page
  frontend/src/index.jsx
  frontend/src/pages/ComparisonResultsPage.jsx
  frontend/src/sass/site-layout/_comparison-results-page.scss
  frontend/src/sass/style.scss
Labels: enhancement, hacktoberfest-accepted, frontend, css

#128 release
  backend/package-lock.json
  backend/src/models/Review.ts
  backend/src/routes/analytics.ts
  backend/src/routes/license.ts
  backend/src/routes/plan.ts
  backend/src/routes/player.ts
  backend/src/routes/playerMatch.ts
  backend/src/routes/review.ts
  backend/src/routes/user.ts
  backend/src/shared/utils.ts
  frontend/package-lock.json
  frontend/src/components/Button/Button.jsx
  frontend/src/components/Slider/Slider.jsx
  frontend/src/components/Table/TableItem.jsx
  frontend/src/context/PlayerContext.jsx
  frontend/src/index.jsx
  frontend/src/pages/ComparisonPage.jsx
  frontend/src/pages/ComparisonResultsPage.jsx
  frontend/src/pages/Login.jsx
  frontend/src/pages/PlayerDetailsPage.jsx
  frontend/src/pages/PlayerReviewOverview.jsx
  frontend/src/pages/ReviewPlayer.jsx
  frontend/src/pages/TopPlayersPage.jsx
  frontend/src/sass/base-elements/_button.scss
  frontend/src/sass/base-elements/_index.scss
  frontend/src/sass/base-elements/_slider.scss
  frontend/src/sass/site-layout/_comparison-page.scss
  frontend/src/sass/site-layout/_comparison-results-page.scss
  frontend/src/sass/site-layout/_index.scss
  frontend/src/sass/site-layout/_player-details-page.scss
  frontend/src/sass/site-layout/_player-review.scss
  frontend/src/sass/style.scss
Labels: release

#134 bug: fix navigation
  frontend/src/pages/ComparisonPage.jsx
Labels: bug

#135 release
  frontend/src/index.jsx
  frontend/src/pages/ComparisonPage.jsx
  frontend/src/pages/PlayerComparisonSelectPage.jsx
  frontend/src/sass/site-layout/_index.scss
  frontend/src/sass/site-layout/_player-comparison-select-page.scss
Labels: release

#136 feature: Integrate Comparison Results to Backend
  frontend/src/context/PlayerContext.jsx
  frontend/src/pages/ComparisonResultsPage.jsx
Labels: enhancement, hacktoberfest-accepted, frontend, backend

#137 feature: Integrate Player Comparison Select Page to Backend IN PROGRESS
  frontend/src/pages/PlayerComparisonSelectPage.jsx
Labels: enhancement, frontend, backend

#139 feature: Create Login Page
  frontend/src/pages/Login.jsx
  frontend/src/sass/site-layout/_login-page.scss
  frontend/src/sass/style.scss
Labels: enhancement, hacktoberfest-accepted, frontend, css

#140 release
  frontend/src/context/PlayerContext.jsx
  frontend/src/pages/ComparisonResultsPage.jsx
  frontend/src/pages/Login.jsx
  frontend/src/pages/PlayerComparisonSelectPage.jsx
  frontend/src/sass/site-layout/_login-page.scss
  frontend/src/sass/style.scss
Labels: release

#145 Update bug.md
  .github/ISSUE_TEMPLATE/bug.md
Labels: documentation

#142 bug: fix backend functions where we use id as a parameter
  backend/src/routes/analytics.ts
  frontend/src/pages/PlayerComparisonSelectPage.jsx
  frontend/src/pages/PlayerDetailsPage.jsx
  frontend/src/pages/TopPlayersPage.jsx
  frontend/src/sass/site-layout/_top-players-page.scss
Labels: bug, frontend, backend

#146 release
  .github/ISSUE_TEMPLATE/bug.md
  backend/src/routes/analytics.ts
  frontend/src/pages/PlayerComparisonSelectPage.jsx
  frontend/src/pages/PlayerDetailsPage.jsx
  frontend/src/pages/TopPlayersPage.jsx
  frontend/src/sass/site-layout/_top-players-page.scss
Labels: release

#275 feature: Style Comparison Page
  frontend/src/components/Card/Card.jsx
  frontend/src/pages/ComparisonPage.jsx
  frontend/src/sass/site-layout/_comparison-page.scss
Labels: enhancement, hacktoberfest-accepted, frontend, css

#289 feature: Create Auth integration
  backend/.env.example
  backend/package-lock.json
  backend/package.json
  backend/src/app.ts
  backend/src/middlewares/authMiddleware.ts
  backend/src/models/Player.ts
  backend/src/models/User.ts
  backend/src/routes/analytics.ts
  backend/src/routes/auth.ts
  backend/src/routes/index.ts
  backend/src/routes/user.ts
  backend/src/shared/utils.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Button/Button.jsx
  frontend/src/components/Input/Input.jsx
  frontend/src/components/Tag/Tag.jsx
  frontend/src/hoc/withAuthentication.jsx
  frontend/src/index.jsx
  frontend/src/pages/ComparisonResultsPage.jsx
  frontend/src/pages/CreateAccount.jsx
  frontend/src/pages/CreateAccountRecruiter.jsx
  frontend/src/pages/Login.jsx
  frontend/src/pages/PlayerComparisonSelectPage.jsx
  frontend/src/pages/PlayerDetailsPage.jsx
  frontend/src/pages/PlayerReviewOverview.jsx
  frontend/src/pages/ReviewPlayer.jsx
  frontend/src/pages/TopPlayersPage.jsx
  frontend/src/sass/site-layout/_comparison-page.scss
  frontend/src/sass/site-layout/_create-account-recruiter.scss
  frontend/src/sass/site-layout/_index.scss
  frontend/src/sass/site-layout/_player-details-page.scss
  frontend/src/sass/site-layout/_player-review.scss
  frontend/src/utils/userValidation.js
Labels: enhancement, hacktoberfest-accepted, frontend, backend, css

#291 release
  backend/.env.example
  backend/package-lock.json
  backend/package.json
  backend/src/app.ts
  backend/src/middlewares/authMiddleware.ts
  backend/src/models/Player.ts
  backend/src/models/User.ts
  backend/src/routes/analytics.ts
  backend/src/routes/auth.ts
  backend/src/routes/index.ts
  backend/src/routes/user.ts
  backend/src/shared/utils.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Button/Button.jsx
  frontend/src/components/Card/Card.jsx
  frontend/src/components/Input/Input.jsx
  frontend/src/components/SearchPlayer.jsx/SearchPlayer.jsx
  frontend/src/components/Tag/Tag.jsx
  frontend/src/hoc/withAuthentication.jsx
  frontend/src/index.jsx
  frontend/src/pages/ComparisonPage.jsx
  frontend/src/pages/ComparisonResultsPage.jsx
  frontend/src/pages/CreateAccount.jsx
  frontend/src/pages/CreateAccountRecruiter.jsx
  frontend/src/pages/Login.jsx
  frontend/src/pages/PlayerComparisonSelectPage.jsx
  frontend/src/pages/PlayerDetailsPage.jsx
  frontend/src/pages/PlayerReviewOverview.jsx
  frontend/src/pages/ReviewPlayer.jsx
  frontend/src/pages/TopPlayersPage.jsx
  frontend/src/sass/site-layout/_comparison-page.scss
  frontend/src/sass/site-layout/_create-account-recruiter.scss
  frontend/src/sass/site-layout/_index.scss
  frontend/src/sass/site-layout/_player-comparison-select-page.scss
  frontend/src/sass/site-layout/_player-details-page.scss
  frontend/src/sass/site-layout/_player-review.scss
  frontend/src/sass/site-layout/_top-players-page.scss
  frontend/src/utils/userValidation.js
Labels: release

#293 bug: Player details page - Add missing content to cards
  backend/src/routes/analytics.ts
  backend/src/routes/auth.ts
  backend/src/shared/utils.ts
  frontend/src/components/ProgressBar/ProgressBar.jsx
  frontend/src/pages/PlayerDetailsPage.jsx
  frontend/src/pages/TopPlayersPage.jsx
  frontend/src/sass/base-elements/_doughnut-chart.scss
  frontend/src/sass/site-layout/_player-details-page.scss
Labels: bug, enhancement, frontend, css

#295 feature: Create Favorites route
  backend/src/models/Favorite.ts
  backend/src/routes/favorite.ts
  backend/src/routes/index.ts
  backend/src/shared/dbFunctions.ts
  backend/src/shared/utils.ts
  docs/dataModel.png
Labels: documentation, enhancement, backend

#296 release
  backend/src/models/Favorite.ts
  backend/src/routes/analytics.ts
  backend/src/routes/auth.ts
  backend/src/routes/favorite.ts
  backend/src/routes/index.ts
  backend/src/shared/dbFunctions.ts
  backend/src/shared/utils.ts
  docs/dataModel.png
  frontend/package-lock.json
  frontend/src/components/Header/HeaderCreateAccount.jsx
  frontend/src/components/ProgressBar/ProgressBar.jsx
  frontend/src/pages/CreateAccount.jsx
  frontend/src/pages/CreateAccountPlayer.jsx
  frontend/src/pages/CreateAccountRecruiter.jsx
  frontend/src/pages/Login.jsx
  frontend/src/pages/PlayerDetailsPage.jsx
  frontend/src/pages/TopPlayersPage.jsx
  frontend/src/sass/base-elements/_doughnut-chart.scss
  frontend/src/sass/site-layout/_create-account-player.scss
  frontend/src/sass/site-layout/_create-account-recruiter.scss
  frontend/src/sass/site-layout/_create-account.scss
  frontend/src/sass/site-layout/_login-page.scss
  frontend/src/sass/site-layout/_player-details-page.scss
Labels: release, blocked

#300 bug: Get Matches Function
  backend/src/shared/utils.ts
Labels: bug, backend

#297 feature style comparison results page
  backend/src/routes/playerMatch.ts
  backend/src/shared/utils.ts
  frontend/package-lock.json
  frontend/src/components/Avatar/Avatar.jsx
  frontend/src/components/BodyText/BodyText.jsx
  frontend/src/components/LineChart/LineChart.jsx
  frontend/src/components/RoleIcons/RoleIcons.jsx
  frontend/src/pages/ComparisonResultsPage.jsx
  frontend/src/sass/base-elements/_line-chart.scss
  frontend/src/sass/site-layout/_comparison-results-page.scss
  frontend/src/sass/site-layout/_create-account-player.scss
  frontend/src/sass/site-layout/_top-players-page.scss
  frontend/src/sass/style.scss
  frontend/src/sass/tables/_tables.scss
Labels: enhancement, hacktoberfest-accepted, frontend

#301 release
  backend/src/routes/playerMatch.ts
  backend/src/shared/utils.ts
  frontend/package-lock.json
  frontend/src/components/Avatar/Avatar.jsx
  frontend/src/components/BodyText/BodyText.jsx
  frontend/src/components/LineChart/LineChart.jsx
  frontend/src/components/RoleIcons/RoleIcons.jsx
  frontend/src/pages/ComparisonResultsPage.jsx
  frontend/src/sass/base-elements/_line-chart.scss
  frontend/src/sass/site-layout/_comparison-results-page.scss
  frontend/src/sass/site-layout/_create-account-player.scss
  frontend/src/sass/site-layout/_top-players-page.scss
  frontend/src/sass/style.scss
  frontend/src/sass/tables/_tables.scss
Labels: bug, release, frontend, backend

#306 release
  frontend/public/images/backgroundCreateAccount.png
  frontend/src/components/Favorites/Favorites.jsx
  frontend/src/components/SearchPlayer/SearchPlayer.jsx
  frontend/src/components/SearchPlayerSelection/SearchPlayerSelection.jsx
  frontend/src/components/Sidebar/Sidebar.jsx
  frontend/src/context/PlayerContext.jsx
  frontend/src/index.jsx
  frontend/src/pages/ComparisonPage.jsx
  frontend/src/pages/ComparisonResultsPage.jsx
  frontend/src/pages/FavoritesPage.jsx
  frontend/src/pages/PlayerComparisonSelectPage.jsx
  frontend/src/pages/PlayerDetailsPage.jsx
  frontend/src/pages/TopPlayersPage.jsx
  frontend/src/sass/site-layout/_create-account.scss
  frontend/src/sass/site-layout/_favorites-page.scss
  frontend/src/sass/site-layout/_index.scss
  frontend/src/sass/site-layout/_player-comparison-select-page.scss
Labels: bug, enhancement, release, frontend, backend

#307 fix: comparison results
  frontend/src/pages/ComparisonResultsPage.jsx
Labels: bug, enhancement, frontend

#308 release
  frontend/src/pages/ComparisonResultsPage.jsx
Labels: release

#310 Update ComparisonResultsPage.jsx
  frontend/src/pages/ComparisonResultsPage.jsx
Labels: bug

#311 release
  frontend/src/pages/ComparisonResultsPage.jsx
Labels: release

#309 bug: Fix sidebar icons and nav link
  frontend/src/assets/icons/Arrow.svg
  frontend/src/assets/icons/Heart.svg
  frontend/src/assets/icons/Help.svg
  frontend/src/assets/icons/LoL.svg
  frontend/src/assets/icons/TermsConditions.svg
  frontend/src/assets/icons/rank_number_1.svg
  frontend/src/assets/icons/rank_number_2.svg
  frontend/src/assets/icons/rank_number_3.svg
  frontend/src/components/Icon/icons.jsx
  frontend/src/components/Sidebar/Sidebar.jsx
  frontend/src/pages/TopPlayersPage.jsx
Labels: enhancement, hacktoberfest-accepted, frontend, css

#313 feature update top players dashboard
  frontend/src/pages/TopPlayersPage.jsx
  frontend/src/sass/site-layout/_top-players-page.scss
Labels: enhancement, hacktoberfest-accepted, frontend

#314 release
  backend/src/routes/favorite.ts
  backend/src/shared/dbFunctions.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/assets/icons/Arrow.svg
  frontend/src/assets/icons/Heart.svg
  frontend/src/assets/icons/Help.svg
  frontend/src/assets/icons/LoL.svg
  frontend/src/assets/icons/TermsConditions.svg
  frontend/src/assets/icons/rank_number_1.svg
  frontend/src/assets/icons/rank_number_2.svg
  frontend/src/assets/icons/rank_number_3.svg
  frontend/src/components/Favorites/Favorites.jsx
  frontend/src/components/Icon/icons.jsx
  frontend/src/components/Sidebar/Sidebar.jsx
  frontend/src/hoc/withAuthentication.jsx
  frontend/src/pages/ComparisonResultsPage.jsx
  frontend/src/pages/FavoritesPage.jsx
  frontend/src/pages/PlayerDetailsPage.jsx
  frontend/src/pages/TopPlayersPage.jsx
  frontend/src/sass/site-layout/_top-players-page.scss
Labels: bug, enhancement, backend

#315 feature: Update Sidebar Link
  frontend/src/components/Sidebar/Sidebar.jsx
  frontend/src/pages/ComparisonPage.jsx
Labels: enhancement, hacktoberfest-accepted, frontend

#316 release
  frontend/src/components/Sidebar/Sidebar.jsx
  frontend/src/pages/ComparisonPage.jsx
Labels: release

#317 feature: Create Redis Integration
  backend/.env.example
  backend/package-lock.json
  backend/package.json
  backend/src/routes/analytics.ts
  backend/src/routes/favorite.ts
  backend/src/routes/playerMatch.ts
  backend/src/routes/review.ts
  backend/src/shared/redis.ts
  backend/src/shared/utils.ts
  frontend/package-lock.json
  frontend/public/apple-touch-icon.png
  frontend/public/favicon-16x16.png
  frontend/public/favicon-32x32.png
  frontend/public/favicon.ico
  frontend/public/index.html
  frontend/public/logo192.png
  frontend/public/logo512.png
  frontend/src/assets/images/BG.png
  frontend/src/assets/images/GB.png
  frontend/src/assets/images/LG.png
  frontend/src/assets/images/box1.png
  frontend/src/assets/images/box2.png
  frontend/src/assets/images/box3.png
  frontend/src/assets/images/box4.png
  frontend/src/components/ProgressBar/ProgressBar.jsx
  frontend/src/pages/ComparisonResultsPage.jsx
  frontend/src/pages/LandingPage.jsx
  frontend/src/pages/PlayerDetailsPage.jsx
  frontend/src/sass/base-elements/_progressbar.scss
  frontend/src/sass/site-layout/_comparison-results-page.scss
  frontend/src/sass/tables/_tables.scss
Labels: enhancement, frontend, backend

#321 fix: information of losses and desktop view in player details page pl…
  backend/package-lock.json
  frontend/package-lock.json
  frontend/src/pages/PlayerDetailsPage.jsx
  frontend/src/sass/site-layout/_player-details-page.scss
  frontend/src/sass/tables/_tables.scss
Labels: enhancement, frontend, css

#318 release
  backend/.env.example
  backend/package-lock.json
  backend/package.json
  backend/src/routes/analytics.ts
  backend/src/routes/favorite.ts
  backend/src/routes/playerMatch.ts
  backend/src/routes/review.ts
  backend/src/shared/redis.ts
  backend/src/shared/utils.ts
  frontend/package-lock.json
  frontend/public/apple-touch-icon.png
  frontend/public/favicon-16x16.png
  frontend/public/favicon-32x32.png
  frontend/public/favicon.ico
  frontend/public/index.html
  frontend/public/logo192.png
  frontend/public/logo512.png
  frontend/src/assets/images/BG.png
  frontend/src/assets/images/GB.png
  frontend/src/assets/images/LG.png
  frontend/src/assets/images/box1.png
  frontend/src/assets/images/box2.png
  frontend/src/assets/images/box3.png
  frontend/src/assets/images/box4.png
  frontend/src/components/ProgressBar/ProgressBar.jsx
  frontend/src/pages/ComparisonResultsPage.jsx
  frontend/src/pages/LandingPage.jsx
  frontend/src/pages/PlayerComparisonSelectPage.jsx
  frontend/src/pages/PlayerDetailsPage.jsx
  frontend/src/sass/base-elements/_progressbar.scss
  frontend/src/sass/site-layout/_comparison-results-page.scss
  frontend/src/sass/site-layout/_player-comparison-select-page.scss
  frontend/src/sass/site-layout/_player-details-page.scss
  frontend/src/sass/tables/_tables.scss
Labels: release

#323 bug login page
  frontend/src/components/Input/Input.jsx
  frontend/src/pages/Login.jsx
  frontend/src/sass/site-layout/_login-page.scss
Labels: enhancement, hacktoberfest-accepted, frontend, css

#324 bug: Landing buttons
  frontend/src/pages/LandingPage.jsx
Labels: bug

#325 release
  frontend/src/components/Input/Input.jsx
  frontend/src/pages/LandingPage.jsx
  frontend/src/pages/Login.jsx
  frontend/src/sass/site-layout/_login-page.scss
Labels: release

#330 bug: Favorites Page - Favorite deletion
  backend/src/routes/favorite.ts
  frontend/src/pages/FavoritesPage.jsx
Labels: bug, frontend, backend

#331 fix: contact player completed
  frontend/.env.example
  frontend/package-lock.json
  frontend/package.json
  frontend/src/hoc/withAuthentication.jsx
  frontend/src/pages/ContactPlayer.jsx
  frontend/src/sass/site-layout/_contact-player.scss
Labels: enhancement, frontend, css

#336 pr-feature-create-contact-us-page
  frontend/src/components/Footer/Footer.jsx
  frontend/src/index.jsx
  frontend/src/pages/ContactUs.jsx
  frontend/src/sass/site-layout/_contact-player.scss
Labels: enhancement, frontend, css

#337 feature: terms and conditions page
  frontend/src/components/Footer/Footer.jsx
  frontend/src/index.jsx
  frontend/src/pages/TermsConditionsPage.jsx
  frontend/src/sass/site-layout/_index.scss
  frontend/src/sass/site-layout/_terms-conditions-page.scss
Labels: frontend

#340 bug: landing page css
  frontend/package-lock.json
  frontend/package.json
  frontend/public/logos/logoType.png
  frontend/public/logos/smallLogo.png
  frontend/src/components/Footer/Footer.jsx
  frontend/src/components/Header/Header.jsx
  frontend/src/pages/LandingPage.jsx
  frontend/src/sass/media/_media.scss
  frontend/src/sass/navigation/_footer.scss
  frontend/src/sass/navigation/_header.scss
  frontend/src/sass/site-layout/_index.scss
Labels: frontend

#341 bug: Fix Styling Review pages
  frontend/src/components/Slider/Slider.jsx
  frontend/src/components/Tag/Tag.jsx
  frontend/src/pages/ComparisonPage.jsx
  frontend/src/pages/PlayerReviewOverview.jsx
  frontend/src/pages/ReviewPlayer.jsx
  frontend/src/sass/base-elements/_avatar.scss
  frontend/src/sass/base-elements/_slider.scss
  frontend/src/sass/site-layout/_comparison-page.scss
  frontend/src/sass/site-layout/_player-review.scss
  frontend/src/sass/site-layout/_top-players-page.scss
Labels: enhancement, hacktoberfest-accepted, frontend, css

#339 feature: Return JWT after creating an account
  backend/src/routes/auth.ts
  backend/src/shared/dbFunctions.ts
  frontend/package-lock.json
  frontend/src/assets/icons/Delete.svg
  frontend/src/assets/icons/Delete2.svg
  frontend/src/components/Favorites/Favorites.jsx
  frontend/src/components/Icon/icons.jsx
  frontend/src/pages/CreateAccount.jsx
  frontend/src/pages/CreateAccountRecruiter.jsx
  frontend/src/pages/FavoritesPage.jsx
  frontend/src/pages/Login.jsx
  frontend/src/pages/PlansPage.jsx
  frontend/src/sass/site-layout/_favorites-page.scss
Labels: enhancement, frontend, backend

#343 fix: player details page css
  frontend/src/components/RadarChart/RadarChart.jsx
  frontend/src/pages/PlayerComparisonSelectPage.jsx
  frontend/src/pages/PlayerDetailsPage.jsx
  frontend/src/sass/site-layout/_player-details-page.scss
Labels: bug, enhancement, frontend, css

#385 fix: navigation menu fixed in contact player page
  frontend/src/pages/ContactPlayer.jsx
  frontend/src/sass/site-layout/_contact-player.scss
Labels: enhancement, frontend, css

#408 fix: promo video added
  frontend/src/pages/LandingPage.jsx
Labels: enhancement, frontend

#383 fix: player comparison select page improvement in progress
  frontend/src/components/Sidebar/Sidebar.jsx
  frontend/src/pages/PlayerComparisonSelectPage.jsx
  frontend/src/sass/site-layout/_player-comparison-select-page.scss
Labels: enhancement, frontend, css

#409 fix: contact pages completed
  frontend/src/pages/ContactPlayer.jsx
  frontend/src/pages/ContactUs.jsx
  frontend/src/sass/site-layout/_contact-player.scss
  frontend/src/sass/site-layout/_index.scss
Labels: enhancement, frontend, css

#410 bug: Removed forgot password button
  frontend/src/pages/Login.jsx
Labels: bug, enhancement, hacktoberfest-accepted, frontend

#413 fix: desktop view and CSS
  frontend/src/sass/site-layout/_player-details-page.scss
Labels: enhancement, frontend, css

#411 release
  frontend/src/components/RadarChart/RadarChart.jsx
  frontend/src/components/Sidebar/Sidebar.jsx
  frontend/src/pages/ContactPlayer.jsx
  frontend/src/pages/ContactUs.jsx
  frontend/src/pages/LandingPage.jsx
  frontend/src/pages/Login.jsx
  frontend/src/pages/PlayerComparisonSelectPage.jsx
  frontend/src/pages/PlayerDetailsPage.jsx
  frontend/src/sass/site-layout/_contact-player.scss
  frontend/src/sass/site-layout/_index.scss
  frontend/src/sass/site-layout/_player-comparison-select-page.scss
  frontend/src/sass/site-layout/_player-details-page.scss
Labels: release

#418 bug: Fixed scroll down icon and search bar and table alignment
  frontend/src/pages/TopPlayersPage.jsx
  frontend/src/sass/site-layout/_top-players-page.scss
  frontend/src/sass/tables/_tables.scss
Labels: bug, enhancement, hacktoberfest-accepted, frontend, css

#421 bug: Added Sidebar in review pages
  frontend/src/pages/PlayerReviewOverview.jsx
  frontend/src/pages/ReviewPlayer.jsx
  frontend/src/sass/site-layout/_player-review.scss
Labels: bug, enhancement, hacktoberfest-accepted, frontend, css

#419 fix: footer displayed only when sidebar is not visible
  frontend/src/sass/site-layout/_contact-player.scss
  frontend/src/sass/site-layout/_favorites-page.scss
  frontend/src/sass/site-layout/_player-comparison-select-page.scss
  frontend/src/sass/site-layout/_player-details-page.scss
  frontend/src/sass/site-layout/_player-review.scss
Labels: enhancement, frontend, css

#423 bug: Plans Page Mobile - Layout Basic
  frontend/src/sass/site-layout/_plans-page.scss
Labels: frontend, css

#427 bug: Fixed table radius and width on dashboard and comparison results
  frontend/src/pages/ComparisonResultsPage.jsx
  frontend/src/pages/PlayerComparisonSelectPage.jsx
  frontend/src/pages/TopPlayersPage.jsx
  frontend/src/sass/base-elements/_line-chart.scss
  frontend/src/sass/site-layout/_comparison-page.scss
  frontend/src/sass/site-layout/_comparison-results-page.scss
  frontend/src/sass/site-layout/_top-players-page.scss
  frontend/src/sass/tables/_tables.scss
Labels: bug, enhancement, hacktoberfest-accepted, frontend, css

#428 fix: player select page completed
  frontend/src/pages/PlayerComparisonSelectPage.jsx
  frontend/src/sass/site-layout/_player-comparison-select-page.scss
Labels: enhancement, frontend, css

#425 release
  .DS_Store
  frontend/public/apple-touch-icon.png
  frontend/public/favicon-16x16.png
  frontend/public/favicon-32x32.png
  frontend/public/favicon.ico
  frontend/public/images/background-help.png
  frontend/public/images/contact-faq-icon.png
  frontend/public/images/contact-support-icon.png
  frontend/public/logo192.png
  frontend/public/logo512.png
  frontend/src/assets/images/background-league-of-legends-animated-gif.gif
  frontend/src/components/Header/RecruitersPagesNavMenu.jsx
  frontend/src/index.jsx
  frontend/src/pages/ComparisonResultsPage.jsx
  frontend/src/pages/FaqPage.jsx
  frontend/src/pages/HelpPage.jsx
  frontend/src/pages/LandingPage.jsx
  frontend/src/pages/PlayerComparisonSelectPage.jsx
  frontend/src/pages/PlayerReviewOverview.jsx
  frontend/src/pages/ReviewPlayer.jsx
  frontend/src/pages/TopPlayersPage.jsx
  frontend/src/sass/base-elements/_line-chart.scss
  frontend/src/sass/navigation/_header.scss
  frontend/src/sass/site-layout/_comparison-page.scss
  frontend/src/sass/site-layout/_comparison-results-page.scss
  frontend/src/sass/site-layout/_contact-player.scss
  frontend/src/sass/site-layout/_faq-page.scss
  frontend/src/sass/site-layout/_favorites-page.scss
  frontend/src/sass/site-layout/_help-page.scss
  frontend/src/sass/site-layout/_index.scss
  frontend/src/sass/site-layout/_plans-page.scss
  frontend/src/sass/site-layout/_player-comparison-select-page.scss
  frontend/src/sass/site-layout/_player-details-page.scss
  frontend/src/sass/site-layout/_player-review.scss
  frontend/src/sass/site-layout/_top-players-page.scss
  frontend/src/sass/tables/_tables.scss
Labels: release
