Repository zyzmoz/global-player, pull requests merged in 2022-10, with the labels that each got.

#3 Add Data Model to the Docs
  README.md
  docs/dataModel.png
Labels: documentation, hacktoberfest-accepted

#8 Frontend ESlint, Airbnb Config and Prettier
  frontend/.eslintrc.json
  frontend/.gitignore
  frontend/.prettierrc
  frontend/README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/public/favicon.ico
  frontend/public/index.html
  frontend/public/logo192.png
  frontend/public/logo512.png
  frontend/public/manifest.json
  frontend/public/robots.txt
  frontend/src/App.css
  frontend/src/App.jsx
  frontend/src/App.test.js
  frontend/src/index.css
  frontend/src/index.jsx
  frontend/src/logo.svg
  frontend/src/reportWebVitals.js
  frontend/src/setupTests.js
Labels: enhancement, hacktoberfest-accepted

#6 ESlint, Prettier, Airbnb Config
  backend/.eslintrc.json
  backend/.gitignore
  backend/.prettierrc
  backend/package-lock.json
  backend/package.json
  backend/src/app.ts
  backend/src/routes.ts
  backend/src/server.ts
  backend/tsconfig.json
Labels: enhancement, hacktoberfest-accepted

#16 feature: Player, License and Review routes
  .DS_Store
  backend/.DS_Store
  backend/package-lock.json
  backend/package.json
  backend/src/.DS_Store
  backend/src/models/License.ts
  backend/src/models/Player.ts
  backend/src/models/Review.ts
  backend/src/routes.ts
  backend/src/shared/database.ts
  backend/src/shared/dbFunctions.ts
Labels: enhancement

#15 documentation: Update issue templates
  .github/ISSUE_TEMPLATE/custom.md
Labels: documentation, hacktoberfest-accepted

#18 Features: User, Player and License
  backend/src/models/License.ts
  backend/src/models/Player.ts
  backend/src/models/User.ts
  backend/src/routes.ts
  backend/src/shared/database.ts
  backend/src/shared/dbFunctions.ts
Labels: enhancement, hacktoberfest-accepted

#17 feature: Plan Routes
  backend/src/models/Plan.ts
  backend/src/routes.ts
Labels: enhancement, hacktoberfest-accepted

#20 release: Backend configuration
  .DS_Store
  .github/ISSUE_TEMPLATE/custom.md
  README.md
  backend/.DS_Store
  backend/.eslintrc.json
  backend/.gitignore
  backend/.prettierrc
  backend/package-lock.json
  backend/package.json
  backend/src/.DS_Store
  backend/src/app.ts
  backend/src/models/License.ts
  backend/src/models/Plan.ts
  backend/src/models/Player.ts
  backend/src/models/Review.ts
  backend/src/models/User.ts
  backend/src/routes.ts
  backend/src/server.ts
  backend/src/shared/database.ts
  backend/src/shared/dbFunctions.ts
  backend/tsconfig.json
  docs/dataModel.png
  docs/issue-description.md
  docs/pr-description.md
  frontend/.eslintrc.json
  frontend/.gitignore
  frontend/.prettierrc
  frontend/README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/public/favicon.ico
  frontend/public/index.html
  frontend/public/logo192.png
  frontend/public/logo512.png
  frontend/public/manifest.json
  frontend/public/robots.txt
  frontend/src/App.css
  frontend/src/App.jsx
  frontend/src/App.test.js
  frontend/src/index.css
  frontend/src/index.jsx
  frontend/src/logo.svg
  frontend/src/reportWebVitals.js
  frontend/src/setupTests.js
Labels: release

#23 documentation: issue and pr templates
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/feature.md
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
Labels: documentation, enhancement, hacktoberfest-accepted

#48 feature: BodyText Component
  .DS_Store
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.css
  frontend/src/App.jsx
  frontend/src/components/BodyText/BodyText.jsx
  frontend/src/index.css
  frontend/src/index.jsx
  frontend/src/sass/accessibility/_index.scss
  frontend/src/sass/base-elements/_button.scss
  frontend/src/sass/base-elements/_card.scss
  frontend/src/sass/base-elements/_index.scss
  frontend/src/sass/base-elements/_input.scss
  frontend/src/sass/forms/_index.scss
  frontend/src/sass/media/_media.scss
  frontend/src/sass/navigation/_navigation.scss
  frontend/src/sass/reset/_reset.scss
  frontend/src/sass/site-layout/_index.scss
  frontend/src/sass/style.scss
  frontend/src/sass/typography/_fonts.scss
  frontend/src/sass/variables/_colors.scss
  frontend/src/storybook/storybook.jsx
Labels: enhancement, hacktoberfest-accepted, frontend, css

#50 documentation: Frontend Configuration
  .github/PULL_REQUEST_TEMPLATE/.gitkeep
  .github/pull_request_template.md
  README.md
  docs/logo.png
  frontend/public/_redirects
Labels: documentation, enhancement, hacktoberfest-accepted, frontend

#52 bug: Change the backend to use environment variables #51
  README.md
  backend/.env.example
  backend/src/server.ts
  backend/src/shared/database.ts
Labels: bug, documentation, enhancement, hacktoberfest-accepted, backend

#55 chore: Configure Git to block PRs that have dependencies
  .github/workflows/blocking-issues.yml
Labels: enhancement, help wanted, hacktoberfest-accepted, settings

#58 created button and headline component
  frontend/src/components/Button/Button.jsx
  frontend/src/components/Headline/Headline.jsx
Labels: enhancement, hacktoberfest-accepted, frontend

#63 created searchbar component
  frontend/src/components/SearchBar/SearchBar.jsx
Labels: enhancement, hacktoberfest-accepted, frontend

#65 created card component
  frontend/src/components/Card/Card.jsx
Labels: enhancement, hacktoberfest-accepted, frontend

#64 feature: Create Avatar Component
  frontend/src/components/Avatar/Avatar.jsx
  frontend/src/components/Input/Input.jsx
  frontend/src/sass/base-elements/_avatar.scss
  frontend/src/sass/base-elements/_index.scss
  frontend/src/sass/style.scss
  frontend/src/storybook/storybook.jsx
Labels: enhancement, hacktoberfest-accepted, frontend, css

#68 created slider component
  frontend/src/components/Slider/Slider.jsx
Labels: enhancement, hacktoberfest-accepted, frontend

#70 chore: remove console logs
  frontend/src/storybook/storybook.jsx
Labels: bug

#72 Pr landing page
  frontend/src/assets/images/background-league-of-legends.png
  frontend/src/components/Video/Video.jsx
  frontend/src/index.jsx
  frontend/src/pages/LandingPage.jsx
  frontend/src/sass/base-elements/_button.scss
  frontend/src/sass/media/_media.scss
  frontend/src/sass/navigation/_footer.scss
  frontend/src/sass/navigation/_header.scss
  frontend/src/sass/navigation/_navigation.scss
  frontend/src/sass/site-layout/_index.scss
  frontend/src/sass/style.scss
  frontend/src/sass/tables/_tables.scss
  frontend/src/sass/variables/_colors.scss
Labels: enhancement, hacktoberfest-accepted, frontend, css

#71 feature: Profile PopUp
  frontend/src/components/ProfilePopUp/ProfilePopUp.jsx
Labels: documentation, enhancement, hacktoberfest-accepted, frontend

#73 feature: Create Sidebar Component
  frontend/src/components/Sidebar/Sidebar.jsx
  frontend/src/sass/accessibility/_visually-hidden.scss
  frontend/src/sass/navigation/_sidebar.scss
  frontend/src/sass/style.scss
Labels: enhancement, hacktoberfest-accepted, frontend

#74 feature: Tag Component
  frontend/src/components/Tag/Tag.jsx
  frontend/src/storybook/storybook.jsx
Labels: enhancement, hacktoberfest-accepted, frontend, css

#76 feature: Create ProgressBar Component
  frontend/src/components/ProgressBar/ProgressBar.jsx
  frontend/src/sass/style.scss
Labels: enhancement, hacktoberfest-accepted, frontend

#53 feature: Update Data Model
  .gitignore
  backend/.gitignore
  backend/src/app.ts
  backend/src/models/License.ts
  backend/src/models/Plan.ts
  backend/src/models/Player.ts
  backend/src/models/PlayerMatches.ts
  backend/src/models/Review.ts
  backend/src/models/User.ts
  backend/src/routes/playerMatch.ts
  docs/.DS_Store
  docs/dataModel.png
Labels: documentation, enhancement, hacktoberfest-accepted, backend

#83 feature: Create LineChart Component
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/LineChart/LineChart.jsx
  frontend/src/sass/variables/_colors.scss
  frontend/src/storybook/storybook.jsx
Labels: enhancement, hacktoberfest-accepted, frontend, css

#85 feature: Create Plans Page
  frontend/src/assets/icons/Compare.svg
  frontend/src/components/Card/Card.jsx
  frontend/src/components/Header/Header.jsx
  frontend/src/components/Headline/Headline.jsx
  frontend/src/index.jsx
  frontend/src/pages/PlansPage.jsx
  frontend/src/sass/base-elements/_button.scss
  frontend/src/sass/base-elements/_card.scss
  frontend/src/sass/base-elements/_index.scss
  frontend/src/sass/navigation/_header.scss
  frontend/src/sass/navigation/_navigation.scss
  frontend/src/sass/reset/_reset.scss
  frontend/src/sass/site-layout/_index.scss
  frontend/src/sass/site-layout/_plans-page.scss
  frontend/src/sass/typography/_fonts.scss
  frontend/src/sass/variables/_colors.scss
Labels: bug, enhancement, hacktoberfest-accepted, frontend, css

#75 feature: Modal Component
  frontend/src/components/Modal/Modal.jsx
  frontend/src/sass/base-elements/_index.scss
  frontend/src/sass/base-elements/_modal.scss
Labels: enhancement, hacktoberfest-accepted, frontend, css

#86 feature: Create DoughnutChart Component
  frontend/package-lock.json
  frontend/src/components/DoughnutChart/DoughnutChart.jsx
  frontend/src/storybook/storybook.jsx
Labels: enhancement, hacktoberfest-accepted, frontend, high-priority

#84 Accordion component
  frontend/src/components/Accordion/Accordion.jsx
  frontend/src/sass/site-layout/_index.scss
  frontend/src/storybook/storybook.jsx
Labels: enhancement, hacktoberfest-accepted, frontend, css

#88 release: Domain Updated
  .gitignore
  backend/.gitignore
  backend/src/app.ts
  backend/src/models/License.ts
  backend/src/models/Plan.ts
  backend/src/models/Player.ts
  backend/src/models/PlayerMatches.ts
  backend/src/models/Review.ts
  backend/src/models/User.ts
  backend/src/routes/playerMatch.ts
  docs/.DS_Store
  docs/dataModel.png
  frontend/package-lock.json
  frontend/package.json
  frontend/src/assets/icons/Compare.svg
  frontend/src/components/Accordion/Accordion.jsx
  frontend/src/components/Card/Card.jsx
  frontend/src/components/DoughnutChart/DoughnutChart.jsx
  frontend/src/components/Header/Header.jsx
  frontend/src/components/Headline/Headline.jsx
  frontend/src/components/LineChart/LineChart.jsx
  frontend/src/components/Modal/Modal.jsx
  frontend/src/components/ProgressBar/ProgressBar.jsx
  frontend/src/components/Tag/Tag.jsx
  frontend/src/index.jsx
  frontend/src/pages/PlansPage.jsx
  frontend/src/sass/base-elements/_button.scss
  frontend/src/sass/base-elements/_card.scss
  frontend/src/sass/base-elements/_index.scss
  frontend/src/sass/base-elements/_modal.scss
  frontend/src/sass/navigation/_header.scss
  frontend/src/sass/navigation/_navigation.scss
  frontend/src/sass/reset/_reset.scss
  frontend/src/sass/site-layout/_index.scss
  frontend/src/sass/site-layout/_plans-page.scss
  frontend/src/sass/style.scss
  frontend/src/sass/typography/_fonts.scss
  frontend/src/sass/variables/_colors.scss
  frontend/src/storybook/storybook.jsx
Labels: release

#82 toast component
  frontend/src/components/Toast/Toast.jsx
  frontend/src/sass/base-elements/_button.scss
  frontend/src/sass/site-layout/_index.scss
  frontend/src/storybook/storybook.jsx
Labels: enhancement, hacktoberfest-accepted, frontend, css

#89 rebase
  frontend/src/sass/site-layout/_index.scss
Labels: bug

#91 Pr toast component
  frontend/src/components/Toast/Toast.jsx
  frontend/src/sass/base-elements/_button.scss
  frontend/src/sass/site-layout/_index.scss
  frontend/src/storybook/storybook.jsx
Labels: enhancement, hacktoberfest-accepted, frontend, css
